<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

	<title>Recomendaciones de {{ libro.title }} para {{ id_lector }}</title>
</head>

<body class="px-6 py-4">
	<div class="flex justify-between">
		<h1 class="mb-4 text-lg font-bold">Recomendaciones para {{ id_lector }} mirando {{ libro.titulo }}</h1>
		<div>
			<small>{{ cant_vistos }} vistos, {{ cant_valorados }} valorados - <a href="/reset"
					class="bg-teal-400 text-white font-semibold text-xs px-2 py-1 mt-2 rounded cursor-pointer">reset</a>
			</small>
		</div>
	</div>

	<form method="post" action="/recomendaciones" class="flex flex-col w-full space-y-4">
		<div class="flex justify-center">
			<div class="card card-side bg-base-100 shadow-sm border bg-base-100">
				<img src="{{ libro.img_src }}" class="w-full max-w-64 h-auto" />
				<div class="card-body">
					<h2 class="card-title font-semibold link">
						<a href="/recomendaciones/{{libro.id_libro}}">{{ libro.titulo|title }}</a>
					</h2>
					<span>
						{{ libro.autor|title }} - {{ libro.genero }} - {{ libro.editorial|title}}
					</span>
					{% if libro.resumen %}
					<span>{{ libro.resumen }}</span>
					{% endif %}

					<div class="card-actions justify-end items-center mt-auto">

						<div class="flex">
							<label for="{{libro.id_libro}}" class="flex-none mr-2">Mi puntuación:</label>
							<select name="{{libro.id_libro}}" class="px-4 py-1 text-sm border rounded ">
								<option value="0" selected></option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h1 class="text-lg font-bold my-4">Quieren vieron {{ libro.titulo }} también vieron...</h1>
			<div class="flex space-x-4">
				{% for libro in libros_recomendados %}
				<div class="card card-side bg-base-100 shadow-sm border bg-base-100">
					<img src="{{ libro.img_src }}" class="w-full max-w-32" />

					<div class="card-body">
						<h2 class="card-title font-semibold link">
							<a href="/recomendaciones/{{libro.id_libro}}">{{ libro.titulo|title }}</a>
						</h2>
						<span class="text-sm">
							{{ libro.autor|title }} - {{ libro.genero }} - {{ libro.editorial|title}}
						</span>
						{% if libro.resumen %}
						<span class="text-xs">{{ libro.resumen|truncate(400) }}</span>
						{% endif %}

						<div class="card-actions justify-end items-center mt-auto">

							<div class="flex">
								<label for="{{libro.id_libro}}" class="flex-none mr-2">Mi puntuación:</label>
								<select name="{{libro.id_libro}}" class="px-4 py-1 text-sm border rounded ">
									<option value="0" selected></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="flex justify-end">
			<input type="submit" class="bg-teal-400 text-white font-semibold px-4 py-1 mt-2 rounded cursor-pointer"
				value="Actualizar opiniones">
		</div>
	</form>

</html>